!!! 5
html
  head
    title Commute Tracker
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    //if IE
      script
        alert(
            'Your version of Internet Explorer is out-of-date and or buggy.'
          + ' Please use Chrome or Firefox to run this application.'
        );
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(rel="stylesheet", href="style.css", type="text/css", media="screen")
    link(rel="stylesheet", href="style.css", type="text/css", media="print")
    script(src="jquery-1.10.1.min.js")
    script(src="main.js")
  body
    h1 Welcome to your CommuteTracker
    h3 Optimize your commute by logging your trips below.
    p Are you Leaving or Arriving?
    div.button-container
      input#leaving(type="button")(value="Leaving")
      input#arriving(type="button")(value="Arriving")
