!!! 5
html
  head
    title Commute Tracker
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    //if IE
      script
        alert(
            'Your version of Internet Explorer is out-of-date and or buggy.'
          + ' Please use Chrome or Firefox to run this application.'
        );
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(rel="stylesheet", href="style.css", type="text/css", media="screen")
    link(rel="stylesheet", href="style.css", type="text/css", media="print")
    script(src="jquery-1.10.1.min.js")
    script(src="main.js")
  body
    h1 Hello kywe665. Welcome to your CommuteTracker
    h3 Not kywe665? Enter your username below:
    input#username(type="text")(placeholder="username")[data-user="kywe665"]
    input.update-user(type="button")(value="Update")
    h2 Optimize your commute by logging your trips
    p.toggle-hidden Are you ready to leave?
    p.toggle-hidden.css-hidden Are you there yet?
    div.button-container
      input.toggle-hidden#leaving(type="button")(value="Leaving")
      input.toggle-hidden.css-hidden#arriving(type="button")(value="Arriving")
    div.toggle-hidden.css-hidden
      h2 Forgot to update an arrival? Invalidate your trip and start over below
      input#invalidate(type="button")(value="Invalidate")
    div.trip-container
      h2#trip-id[data-id="n/a"] Your current trip ID is: (n/a)
